

.search { max-width: 580px; padding: .5rem; border-radius: 7px; background-color: rgba(255, 255, 255, .5); }

.search form { border-radius: 7px; border: 1px solid #9f9fff; border-bottom: 3px solid #01d098; background-color: #fff; }

.search__title { border-radius: 7px; background-color: #7675c5; }
.search__title h2 { margin-top: 1rem; padding-top: 3rem; background: url(images/icon-fly.png) center 0 no-repeat; font-size: .81rem; line-height: 14px; font-weight: bold; color: #fff; text-align: center; }

.search form .form-group { margin: 1rem .5rem; }
.search form .form-group input { border-radius: 0; border-width: 0 0 1px; }
.search form .form-group input:focus { border-radius: 4px; }

.search form label { text-transform: uppercase; font-size: .81rem; font-weight: bold; }


@media only screen and (min-width: 576px) {
  .search__title { margin-top: .75rem; }
  .search form .form-group { margin: 1rem 1.5rem; }
  .search form .form-group.search__from { position: relative; }
  .search form .form-group.search__from:after { position: absolute; top: 50%; right: -55px; transform: translateY(-50%); width: 28px; height: 13px; background: url(images/icon-arrow-right.png) no-repeat; content: ''; }
}


@media only screen and (min-width: 768px) {
  .search { max-width: 730px; }
  .search__title { margin: 0; border-radius: 7px 0 0 7px; }
  .search__title h2 strong { display: block; }
}


.form-group { position: relative; }
.result-autocomplete { position: absolute; margin-top: -1px; z-index: 2; width: 100%; }
.result-autocomplete ul { margin: 0; padding: .5rem; box-shadow: rgba(0,0,0, .25) 0 0 20px; border-radius: 4px; background: #fff; }
.result-autocomplete ul li { display: flex; align-items: center; padding: .25rem .5rem; font-size: .81rem; }
.result-autocomplete ul li img { width: 16px; height: 11px; margin-right: .5rem; }
.result-autocomplete ul li.active,
.result-autocomplete ul li:hover { border-radius: 3px; background: #ddd; cursor: default; }

@media only screen and (min-width: 768px) {
  .result-autocomplete { min-width: 300px; }
}
